<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>
<h2>用户列表</h2>
<div>
    <ul>
        <li th:each="blog:${blogs}">
            <span th:text="${blog.title}"></span>
            <span th:text="${blog.link}"></span>
            <span th:text="${blog.image}"></span>
            <span th:text="${blog.likeCount}"></span>
            <span th:text="${blog.modTime}"></span>
            <span th:text="${blog.userId}"></span>
            <br>
            <!--th:each用于遍历th:text用于显示的文本信息-->
        </li>
    </ul>
</div>
</body>
</html>