<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.blog.dao.CommentMapper">
    <resultMap id="BaseResultMap" type="com.summer.blog.model.Comment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="entity_id" jdbcType="INTEGER" property="entityId"/>
        <result column="entity_type" jdbcType="INTEGER" property="entityType"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.summer.blog.model.Comment">
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id,content, entity_id, entity_type, add_time, is_del
  </sql>
    <sql id="Blob_Column_List">
    content
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        from tb_comment
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByEntity" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        from tb_comment
        where entity_id=#{entityId} and entity_type=#{entityType} and is_del=0
        order by id desc
    </select>
    <select id="getCommentCount" resultType="java.lang.Integer">
        select
        count(1)
        from tb_comment
        where entity_id=#{entityId} and entity_type=#{entityType} and is_del=0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.summer.blog.model.Comment">
    insert into tb_comment (id, user_id, entity_id,
      entity_type, add_time, is_del, 
      content)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{entityId,jdbcType=INTEGER},
      #{entityType,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.summer.blog.model.Comment">
        insert into tb_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="entityId != null">
                entity_id,
            </if>
            <if test="entityType != null">
                entity_type,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="entityId != null">
                #{entityId,jdbcType=INTEGER},
            </if>
            <if test="entityType != null">
                #{entityType,jdbcType=INTEGER},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.summer.blog.model.Comment">
        update tb_comment
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="entityId != null">
                entity_id = #{entityId,jdbcType=INTEGER},
            </if>
            <if test="entityType != null">
                entity_type = #{entityType,jdbcType=INTEGER},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.summer.blog.model.Comment">
    update tb_comment
    set user_id = #{userId,jdbcType=INTEGER},
      entity_id = #{entityId,jdbcType=INTEGER},
      entity_type = #{entityType,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.summer.blog.model.Comment">
    update tb_comment
    set user_id = #{userId,jdbcType=INTEGER},
      entity_id = #{entityId,jdbcType=INTEGER},
      entity_type = #{entityType,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>